<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUZvZ0B55FDDS21USQeFUcFLBI6jklq4k</string>
	<key>GCM_SENDER_ID</key>
	<string>657622832573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainstation23.authentication</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-authenticati-17496</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-authenticati-17496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657622832573:ios:c9d399a512281efbdfeed4</string>
</dict>
</plist>